name: latex-compile

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run paperaj
        uses: dermatologist/paperaj@master
        with:
          env-file: paperaj.env

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          working_directory: .

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: pdf-artifact
          path: main.pdf
